::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
    }

.jumbotron {
    padding: -150px;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 240px;
    z-index: -5;
    margin-top: 56px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#index-body, #food-body, #cocktail-body, #movie-body {
    margin-top: 112px;
}

#index-title, #food-title, #cocktail-title, #movie-title {
    margin-top: 120px;
}

.title {
    letter-spacing: .05em;
    text-shadow: 
        4px 4px 0px #d5d5d5, 
        7px 7px 0px rgba(0, 0, 0, 0.4);
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
    width: 600px;
}

.carousel{
    margin-bottom:20px;
}

.btn {
    background-color: #17252a;
    border-color: #17252a;
    color: #feffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.nav-item {
    color: #feffff;
    font-weight: 600;
}

.navbar-brand {
    color: black;
    font-weight: 800;
}

.recipe-link {
    color: yellow;
    font-weight: 600
}

.card {
    height: 650px;
}


#index-card {
    height: 150px;
}

.carousel-text{
    font-size: 20px; 
}
.carousel-headings{
    font-size: 100px; 
}

#user-selection {
    padding: 5px;
}

.last-moment {
    height: 100%;
    overflow: hidden;
}


.card-body {
    overflow:auto;
}

.btn:hover {
    color:rgb(255, 197, 197)
}

body {
    margin-bottom: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239,171,31, 2.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(239,171,31);
    border-width: 1.5px;
} 



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    color: white;
    background-color: #103754;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #ingredientForm {
      height:200px;
      margin-top: 20px;
  }