.jumbotron {
    padding: -150px;
}

.title {
    letter-spacing: .05em;
    text-shadow: 
        4px 4px 0px #d5d5d5, 
        7px 7px 0px rgba(0, 0, 0, 0.4);
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 400px;
    width: 600px;
}

.carousel{
    margin-bottom:20px;
}

.btn {
    background-color: #17252a;
    border-color: #17252a;
    color: #feffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.nav-item {
    color: #feffff;
    font-weight: 600;
}

.navbar-brand {
    color: black;
    font-weight: 800;
}

.recipe-link {
    color: yellow;
    font-weight: 600
}

.card {
    height: 750px;
}


#index-card {
    height: 150px;
}

.carousel-text{
    font-size: 20px; 
}
.carousel-headings{
    font-size: 100px; 
}

.recipe-text, .recipe-name, .card-text {
    color: white;
}

#user-selection {
    padding: 5px;
}

.card-body {
    height: 100%;
    overflow: auto;
}

.btn:hover {
    color:rgb(255, 197, 197)
}

body {
    margin-bottom: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239,171,31, 2.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(239,171,31);
    border-width: 1.5px;
} 